<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896400692930-rabpmcas7qif0ped778scmdad48dg21i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896400692930-rabpmcas7qif0ped778scmdad48dg21i</string>
	<key>API_KEY</key>
	<string>AIzaSyCAcENOvMesUUvMtgFJYQN6NFG1NOakgow</string>
	<key>GCM_SENDER_ID</key>
	<string>896400692930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.initpoint.alsenedy</string>
	<key>PROJECT_ID</key>
	<string>alsenedy-455c6</string>
	<key>STORAGE_BUCKET</key>
	<string>alsenedy-455c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896400692930:ios:50982c89b3fb9cdf1d4d5b</string>
	<key>DATABASE_URL</key>
	<string>https://alsenedy-455c6.firebaseio.com</string>
</dict>
</plist>